
.header{
  text-align: center;
}

.instruction{
    margin: 30px 0px;
}

.caution{
    margin: 30px 0px;
}

.img{
    margin:0px auto;
    width:300px;
}

.webgl-container{
    margin:0px auto;
    width:642px;
    height:482px;
    border: solid 1px;
}

.interface{
    margin:30px 0px;
}

.countup{
    margin:30px 0px;
    width:200;
    height:50;
}
